* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Calistoga', cursive;
}

.main-container {

  width: 100%;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;

  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

}

.main-container .nav-button {
  position: absolute;
  margin: 10px;
  bottom: 0;
  right: 0;
  padding: 10px 40px;
  color: #fff;
 
  border-radius: 10px;


}



/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;

}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.box {
  width: 400px;
  height: auto;
  border: 2px solid #000;
  margin: 0 auto 15px;
  text-align: justify;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.info {
  background-color: #ddd;
  border-color: #aaa; 
}

.warning {
  background-color: #FFF484;
  border-color: #DCC600;
}

.success {
  background-color: #B9FFAB;
  border-color: #116400;
  color: #116400;
}

.error {
  background-color: #EBB1B1;
  border-color: #973939;
  color: #973939;
}